.time{
    text-align: center;
    padding: 2rem;
   /*  background-color: #cceeff; */
}
.time h3{
    font-size: 2rem;
    border-bottom: 3px solid #0099e6;
    display: inline-block;
    padding-bottom: .5rem;
}